body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
header {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os filhos entre as extremidades */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 20px; /* Adiciona espaço interno */
    background-color: #333; /* Cor de fundo */
    color: rgb(148, 135, 135); /* Cor do texto */
}

footer {
    display: flex; /* Ativa o Flexbox */
    justify-content: flex-end; /* Alinha os itens à direita */
    padding: 10px 20px; /* Espaço interno */
    background-color: #b63838; /* Cor de fundo do footer */
    color: white; /* Cor do texto */
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

li {
    margin-left: 8px; /* Espaçamento à esquerda dos itens da lista */
}

.rede-social {
    margin-left: 12px; /* Espaçamento à esquerda específico para as redes sociais */
}
